<div class="container">
  <% blocks = 4 %>
  <h1>Game!</h1>

  <p id="player1" name="<%= session[:player1]%>">player 1: <%= session[:player1] %></p>
  <p id="player2" name="<%= session[:player2]%>">player 2: <%= session[:player2] %></p>

  <p id="time" name="<%= session[:start_time] %>">Time: <%= session[:start_time] %></p>

<table class="racer_table">
  <tr id="player1_strip" name="<%= session[:player1] %>">
    <td class="active"></td>
    <!-- #player1_strip td.active -->
    <% (blocks-1).times do %>
      <td></td>
    <% end %>
  </tr>
  <tr id="player2_strip" name="<%= session[:player2] %>">
    <td class="active"></td>
    <% (blocks-1).times do %>
      <td></td>
    <% end %>

  </tr>
</table>

<div id="hidden">
<form id="target" action="/game" method="post">
<input type="hidden" name="win_input" id="win_input">
<input type="submit" value="submit" id="button">
</form>
</div>

</div>


<script>
  var block = <%= blocks %>
</script>